#!/usr/bin/make -f

icon = $(CURDIR)/link-lizard-icon.png
script = $(CURDIR)/gtk-link-lizard.py
launcher = $(CURDIR)/gtk-link-lizard.desktop
links = $(CURDIR)/links.txt

DEST1 = $(CURDIR)/debian/gtk-link-lizard/usr/share/gtk-link-lizard
DEST2 = $(CURDIR)/debian/gtk-link-lizard/usr/share/applications

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(icon) $(script) $(links) $(launcher) 
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(DEST1)
	mkdir -m 755 -p $(DEST2)

	install -m 666 $(icon) $(DEST1)
	install -m 777 $(script) $(DEST1)
	install -m 666 $(links) $(DEST1)
	install -m 777 $(launcher) $(DEST2)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
